Scene Writer tests cases:
    
    -5 years, 365 days, hourly
    -5 years, 365 days, 2-hourly
    -5 years, 365 days, selectec hours
    -20 years, 12 subperiods, 7 day-superiods
    -20 years, 4 selected days, 2 selected hours

In [1]:
%load_ext autoreload

In [2]:
%autoreload 2

In [4]:
import ModelWriters.Scenes.SceneBuilder as SB

Case 1: 5 years, 365 days, hourly

In [65]:
s = SB.SceneBuilder(years = 5, growth_rate = 0.1, discount_rate = 0.05)

scenes = s.build_scenes()

scenes

,year,day,dd,hour,dt,growth,discount,solar_irradiance,wind_speed
0,0.0,0.0,1.0,0.0,1.0,1.0000,1.000000,0.0,1.209879
1,0.0,0.0,1.0,1.0,1.0,1.0000,1.000000,0.0,1.855569
2,0.0,0.0,1.0,2.0,1.0,1.0000,1.000000,0.0,2.828883
3,0.0,0.0,1.0,3.0,1.0,1.0000,1.000000,0.0,3.320020
4,0.0,0.0,1.0,4.0,1.0,1.0000,1.000000,0.0,4.151879
...,...,...,...,...,...,...,...,...,...
43795,4.0,364.0,1.0,19.0,1.0,1.4641,0.822702,0.0,12.796175
43796,4.0,364.0,1.0,20.0,1.0,1.4641,0.822702,0.0,13.408635
43797,4.0,364.0,1.0,21.0,1.0,1.4641,0.822702,0.0,13.047652
43798,4.0,364.0,1.0,22.0,1.0,1.4641,0.822702,0.0,12.532536
43799,4.0,364.0,1.0,23.0,1.0,1.4641,0.822702,0.0,8.685251

Case 2: 5 years, 365 days, 2-hourly

In [66]:
s = SB.SceneBuilder(years = 5, dt = 2.0, growth_rate = 0.1, discount_rate = 0.05)

scenes = s.build_scenes()

scenes

,year,day,dd,hour,dt,growth,discount,solar_irradiance,wind_speed
0,0.0,0.0,1.0,0.0,2.0,1.0000,1.000000,0.000000,3.845419
1,0.0,0.0,1.0,2.0,2.0,1.0000,1.000000,0.000000,3.990825
2,0.0,0.0,1.0,4.0,2.0,1.0000,1.000000,0.000000,5.034658
3,0.0,0.0,1.0,6.0,2.0,1.0000,1.000000,0.000000,5.352431
4,0.0,0.0,1.0,8.0,2.0,1.0000,1.000000,0.000000,6.673393
...,...,...,...,...,...,...,...,...,...
21895,4.0,364.0,1.0,14.0,2.0,1.4641,0.822702,463.617155,7.370628
21896,4.0,364.0,1.0,16.0,2.0,1.4641,0.822702,280.702138,7.596256
21897,4.0,364.0,1.0,18.0,2.0,1.4641,0.822702,0.000000,7.991521
21898,4.0,364.0,1.0,20.0,2.0,1.4641,0.822702,0.000000,8.877750
21899,4.0,364.0,1.0,22.0,2.0,1.4641,0.822702,0.000000,9.170976

Case 3: 5 years, 365 days, selectec hours

In [67]:
s = SB.SceneBuilder(years = 5, dt = 5.0, selected_hours = [6.0, 12.0, 18.0, 20.0], growth_rate = 0.1, discount_rate = 0.05)
scenes = s.build_scenes()
scenes

,year,day,dd,hour,dt,growth,discount,solar_irradiance,wind_speed
0,0.0,0.0,1.0,6.0,5.0,1.0000,1.000000,0.000000,0.430464
1,0.0,0.0,1.0,12.0,5.0,1.0000,1.000000,475.427720,1.246563
2,0.0,0.0,1.0,18.0,5.0,1.0000,1.000000,0.000000,0.597121
3,0.0,0.0,1.0,20.0,5.0,1.0000,1.000000,0.000000,1.804634
4,0.0,1.0,1.0,6.0,5.0,1.0000,1.000000,0.000000,3.640514
...,...,...,...,...,...,...,...,...,...
7295,4.0,363.0,1.0,20.0,5.0,1.4641,0.822702,0.000000,5.661545
7296,4.0,364.0,1.0,6.0,5.0,1.4641,0.822702,0.000000,6.102188
7297,4.0,364.0,1.0,12.0,5.0,1.4641,0.822702,478.021716,7.080247
7298,4.0,364.0,1.0,18.0,5.0,1.4641,0.822702,0.000000,6.891452
7299,4.0,364.0,1.0,20.0,5.0,1.4641,0.822702,0.000000,8.600567

In [68]:
scenes[40:60]

    year   day   dd  hour   dt  growth  discount  solar_irradiance  wind_speed
40   0.0  10.0  1.0   6.0  5.0     1.0       1.0          0.000000    6.300891
41   0.0  10.0  1.0  12.0  5.0     1.0       1.0        485.435454    6.546726
42   0.0  10.0  1.0  18.0  5.0     1.0       1.0          0.000000    7.987520
43   0.0  10.0  1.0  20.0  5.0     1.0       1.0          0.000000    8.983708
44   0.0  11.0  1.0   6.0  5.0     1.0       1.0          0.000000    7.834668
45   0.0  11.0  1.0  12.0  5.0     1.0       1.0        502.558785    7.381247
46   0.0  11.0  1.0  18.0  5.0     1.0       1.0          0.000000   10.572206
47   0.0  11.0  1.0  20.0  5.0     1.0       1.0          0.000000    9.850542
48   0.0  12.0  1.0   6.0  5.0     1.0       1.0          0.000000    9.615607
49   0.0  12.0  1.0  12.0  5.0     1.0       1.0        484.263391    9.007318
50   0.0  12.0  1.0  18.0  5.0     1.0       1.0          0.000000    8.981304
51   0.0  12.0  1.0  20.0  5.0     1.0       1.0          0.000000    6.661372
52   0.0  13.0  1.0   6.0  5.0     1.0       1.0          0.000000    6.579303
53   0.0  13.0  1.0  12.0  5.0     1.0       1.0        480.104962    6.475457
54   0.0  13.0  1.0  18.0  5.0     1.0       1.0          0.000000    6.572622
55   0.0  13.0  1.0  20.0  5.0     1.0       1.0          0.000000    5.723647
56   0.0  14.0  1.0   6.0  5.0     1.0       1.0          0.000000    6.195529
57   0.0  14.0  1.0  12.0  5.0     1.0       1.0        270.507863    6.412092
58   0.0  14.0  1.0  18.0  5.0     1.0       1.0          0.000000    7.614383
59   0.0  14.0  1.0  20.0  5.0     1.0       1.0          0.000000    8.520964

Case 4: 20 years, 12 subperiods, 7 day-superiods

In [69]:
s = SB.SceneBuilder(years = 20, subperiods = 12, days_in_subperiods=7, subperiod_start=10, dt=24.0, growth_rate = 0.1, discount_rate = 0.05)
scenes = s.build_scenes()
scenes

,year,day,dd,hour,dt,growth,discount,solar_irradiance,wind_speed
0,0.0,10.0,4.345238,0.0,24.0,1.000000,1.000000,0.0,0.359393
1,0.0,11.0,4.345238,0.0,24.0,1.000000,1.000000,0.0,0.962065
2,0.0,12.0,4.345238,0.0,24.0,1.000000,1.000000,0.0,3.021120
3,0.0,13.0,4.345238,0.0,24.0,1.000000,1.000000,0.0,3.462277
4,0.0,14.0,4.345238,0.0,24.0,1.000000,1.000000,0.0,4.288089
...,...,...,...,...,...,...,...,...,...
1675,19.0,342.0,4.345238,0.0,24.0,6.115909,0.395734,0.0,6.858366
1676,19.0,343.0,4.345238,0.0,24.0,6.115909,0.395734,0.0,7.098590
1677,19.0,344.0,4.345238,0.0,24.0,6.115909,0.395734,0.0,8.173608
1678,19.0,345.0,4.345238,0.0,24.0,6.115909,0.395734,0.0,7.743407
1679,19.0,346.0,4.345238,0.0,24.0,6.115909,0.395734,0.0,6.762608

In [70]:
scenes[50:90]

,year,day,dd,hour,dt,growth,discount,solar_irradiance,wind_speed
50,0.0,221.0,4.345238,0.0,24.0,1.0,1.000000,0.0,9.522514
51,0.0,222.0,4.345238,0.0,24.0,1.0,1.000000,0.0,7.949169
52,0.0,223.0,4.345238,0.0,24.0,1.0,1.000000,0.0,7.666063
53,0.0,224.0,4.345238,0.0,24.0,1.0,1.000000,0.0,8.293503
54,0.0,225.0,4.345238,0.0,24.0,1.0,1.000000,0.0,10.873494
55,0.0,226.0,4.345238,0.0,24.0,1.0,1.000000,0.0,12.593248
56,0.0,250.0,4.345238,0.0,24.0,1.0,1.000000,0.0,13.225673
57,0.0,251.0,4.345238,0.0,24.0,1.0,1.000000,0.0,14.103225
58,0.0,252.0,4.345238,0.0,24.0,1.0,1.000000,0.0,13.012005
59,0.0,253.0,4.345238,0.0,24.0,1.0,1.000000,0.0,12.119396
60,0.0,254.0,4.345238,0.0,24.0,1.0,1.000000,0.0,11.857565
61,0.0,255.0,4.345238,0.0,24.0,1.0,1.000000,0.0,10.777374
62,0.0,256.0,4.345238,0.0,24.0,1.0,1.000000,0.0,7.744556
63,0.0,280.0,4.345238,0.0,24.0,1.0,1.000000,0.0,7.945174
64,0.0,281.0,4.345238,0.0,24.0,1.0,1.000000,0.0,8.705812
65,0.0,282.0,4.345238,0.0,24.0,1.0,1.000000,0.0,8.390131
66,0.0,283.0,4.345238,0.0,24.0,1.0,1.000000,0.0,8.532264
67,0.0,284.0,4.345238,0.0,24.0,1.0,1.000000,0.0,9.827253
68,0.0,285.0,4.345238,0.0,24.0,1.0,1.000000,0.0,10.146887
69,0.0,286.0,4.345238,0.0,24.0,1.0,1.000000,0.0,8.502225
70,0.0,310.0,4.345238,0.0,24.0,1.0,1.000000,0.0,6.776790
71,0.0,311.0,4.345238,0.0,24.0,1.0,1.000000,0.0,5.861715
72,0.0,312.0,4.345238,0.0,24.0,1.0,1.000000,0.0,5.692517
73,0.0,313.0,4.345238,0.0,24.0,1.0,1.000000,0.0,8.380280
74,0.0,314.0,4.345238,0.0,24.0,1.0,1.000000,0.0,6.164356
75,0.0,315.0,4.345238,0.0,24.0,1.0,1.000000,0.0,5.366721
76,0.0,316.0,4.345238,0.0,24.0,1.0,1.000000,0.0,6.313539
77,0.0,340.0,4.345238,0.0,24.0,1.0,1.000000,0.0,7.824598
78,0.0,341.0,4.345238,0.0,24.0,1.0,1.000000,0.0,8.605712
79,0.0,342.0,4.345238,0.0,24.0,1.0,1.000000,0.0,8.353286
80,0.0,343.0,4.345238,0.0,24.0,1.0,1.000000,0.0,5.707220
81,0.0,344.0,4.345238,0.0,24.0,1.0,1.000000,0.0,5.870531
82,0.0,345.0,4.345238,0.0,24.0,1.0,1.000000,0.0,5.537912
83,0.0,346.0,4.345238,0.0,24.0,1.0,1.000000,0.0,6.065631
84,1.0,10.0,4.345238,0.0,24.0,1.1,0.952381,0.0,5.821145
85,1.0,11.0,4.345238,0.0,24.0,1.1,0.952381,0.0,3.760797
86,1.0,12.0,4.345238,0.0,24.0,1.1,0.952381,0.0,3.830905
87,1.0,13.0,4.345238,0.0,24.0,1.1,0.952381,0.0,4.391426
88,1.0,14.0,4.345238,0.0,24.0,1.1,0.952381,0.0,5.438949
89,1.0,15.0,4.345238,0.0,24.0,1.1,0.952381,0.0,5.081008

Case 5: 20 years, 4 selected days, 3 selected hours

In [72]:
s = SB.SceneBuilder(years = 20, selected_days = [81, 81+90, 81+180, 81+270], dd = 90, selected_hours = [0.0, 13.0], 
                    dt = 12, growth_rate = 0.1, discount_rate = 0.05)
scenes = s.build_scenes()
scenes

,year,day,dd,hour,dt,growth,discount,solar_irradiance,wind_speed
0,0.0,81.0,90.0,0.0,12.0,1.000000,1.000000,0.000000,1.026108
1,0.0,81.0,90.0,13.0,12.0,1.000000,1.000000,765.267503,1.527567
2,0.0,171.0,90.0,0.0,12.0,1.000000,1.000000,0.000000,1.764216
3,0.0,171.0,90.0,13.0,12.0,1.000000,1.000000,991.304797,3.516206
4,0.0,261.0,90.0,0.0,12.0,1.000000,1.000000,0.000000,4.629272
...,...,...,...,...,...,...,...,...,...
155,19.0,171.0,90.0,13.0,12.0,6.115909,0.395734,977.996789,5.887891
156,19.0,261.0,90.0,0.0,12.0,6.115909,0.395734,0.000000,5.821036
157,19.0,261.0,90.0,13.0,12.0,6.115909,0.395734,764.514138,6.435087
158,19.0,351.0,90.0,0.0,12.0,6.115909,0.395734,0.000000,5.843777
159,19.0,351.0,90.0,13.0,12.0,6.115909,0.395734,499.454341,6.146891