In [1]:
 import pandapower as pp

In [2]:
 net = pp.create_empty_network() 
 b1 = pp.create_bus(net, vn_kv=20.)
 b2 = pp.create_bus(net, vn_kv=20.)
 pp.create_line(net, from_bus=b1, to_bus=b2, length_km=2.5, std_type="NAYY 4x50 SE")   
 pp.create_ext_grid(net, bus=b1)
 pp.create_load(net, bus=b2, p_mw=1.)

0

In [3]:
 pp.runpp(net)

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

In [5]:
print(net.res_bus.vm_pu)
print(net.res_line.loading_percent)

0    1.000000
1    0.995988
Name: vm_pu, dtype: float64
0    20.454524
Name: loading_percent, dtype: float64

In [6]:
print(net)

This pandapower network includes the following parameter tables:
   - bus (2 elements)
   - load (1 element)
   - ext_grid (1 element)
   - line (1 element)
 and the following results tables:
   - res_bus (2 elements)
   - res_line (1 element)
   - res_ext_grid (1 element)
   - res_load (1 element)

In [8]:
print(net.bus)

   name  vn_kv type  zone  in_service
0  None   20.0    b  None        True
1  None   20.0    b  None        True

print(net.load)

In [9]:
print(net.ext_grid)

   name  bus  vm_pu  va_degree  in_service
0  None    0    1.0        0.0        True

In [10]:
net.ext_grid.__class__

pandas.core.frame.DataFrame

In [11]:
net.load.__class__

pandas.core.frame.DataFrame

In [13]:
net.load.columns

Index(['name', 'bus', 'p_mw', 'q_mvar', 'const_z_percent', 'const_i_percent',
       'sn_mva', 'scaling', 'in_service', 'type'],
      dtype='object')

In [14]:
net.line

,name,std_type,from_bus,to_bus,length_km,r_ohm_per_km,x_ohm_per_km,c_nf_per_km,g_us_per_km,max_i_ka,df,parallel,type,in_service
0,None,NAYY 4x50 SE,0,1,2.5,0.642,0.083,210.0,0.0,0.142,1.0,1,cs,True

In [15]:
net.load

,name,bus,p_mw,q_mvar,const_z_percent,const_i_percent,sn_mva,scaling,in_service,type
0,None,1,1.0,0.0,0.0,0.0,NaN,1.0,True,wye

In [20]:
net.load['ap_mw']=net.load['p_mw']

In [21]:
net.load

,name,bus,p_mw,q_mvar,const_z_percent,const_i_percent,sn_mva,scaling,in_service,type,ap_mw
0,None,1,1.0,0.0,0.0,0.0,NaN,1.0,True,wye,1.0

In [25]:
net.load['name'][0]='Carga'

In [26]:
net.load

,name,bus,p_mw,q_mvar,const_z_percent,const_i_percent,sn_mva,scaling,in_service,type,ap_mw
0,Carga,1,1.0,0.0,0.0,0.0,NaN,1.0,True,wye,1.0

In [27]:
net.ext_grid

   name  bus  vm_pu  va_degree  in_service
0  None    0    1.0        0.0        True

In [28]:
net.switch

Empty DataFrame
Columns: [bus, element, et, type, closed, name, z_ohm]
Index: []