In [1]:
import pandapower as pp

In [2]:
from sympy import symbols

In [3]:
net = pp.create_empty_network() 
b1 = pp.create_bus(net, vn_kv=13.2)
b2 = pp.create_bus(net, vn_kv=13.2)
b3 = pp.create_bus(net, vn_kv=13.2)

pp.create_line(net, from_bus=b1, to_bus=b2, length_km=0.8, std_type="NAYY 4x50 SE")
pp.create_line(net, from_bus=b2, to_bus=b3, length_km=1.2, std_type="NAYY 4x50 SE")

pp.create_ext_grid(net, bus=b1)

pp.create_load(net, bus=b3, p_mw=0.350)

0

In [4]:
 pp.runpp(net)

In [8]:
print(net.res_bus.vm_pu)
print(net.res_line)

0    1.000000
1    0.998973
2    0.997425
Name: vm_pu, dtype: float64
   p_from_mw  q_from_mvar   p_to_mw     q_to_mvar     pl_mw   ql_mvar  \
0   0.350909    -0.022814 -0.350545  1.367420e-02  0.000364 -0.009140
1   0.350545    -0.013674 -0.350000 -9.562987e-10  0.000545 -0.013674

   i_from_ka   i_to_ka      i_ka  vm_from_pu  va_from_degree  vm_to_pu  \
0   0.015381  0.015360  0.015381    1.000000        0.000000  0.998973
1   0.015360  0.015348  0.015360    0.998973       -0.010749  0.997425

   va_to_degree  loading_percent
0     -0.010749        10.831460
1     -0.023998        10.816756

In [10]:
pp.create_sgen(net, b2, p_mw=0.05, q_mvar=0.025, max_p_mw=0.2, max_q_mvar=0.2)

0

In [11]:
pp.runpp(net)

In [12]:
print(net.res_bus.vm_pu)
print(net.res_line)

0    1.000000
1    0.999130
2    0.997582
Name: vm_pu, dtype: float64
   p_from_mw  q_from_mvar   p_to_mw     q_to_mvar     pl_mw   ql_mvar  \
0   0.300817    -0.047832 -0.300544  3.867856e-02  0.000272 -0.009153
1   0.350544    -0.013679 -0.350000 -7.725773e-10  0.000544 -0.013679

   i_from_ka   i_to_ka      i_ka  vm_from_pu  va_from_degree  vm_to_pu  \
0   0.013323  0.013265  0.013323     1.00000        0.000000  0.999130
1   0.015357  0.015346  0.015357     0.99913       -0.013882  0.997582

   va_to_degree  loading_percent
0     -0.013882         9.382118
1     -0.027127        10.815054

In [13]:
print(net)

This pandapower network includes the following parameter tables:
   - bus (3 elements)
   - load (1 element)
   - sgen (1 element)
   - ext_grid (1 element)
   - line (2 elements)
 and the following results tables:
   - res_bus (3 elements)
   - res_line (2 elements)
   - res_ext_grid (1 element)
   - res_load (1 element)
   - res_sgen (1 element)

In [20]:
def net_add_optfw(net):
    net.ext_grid['initial_cost'] = 0.0
    net.ext_grid['operation_cost'] = 0.0
    net.ext_grid['ap_mw'] = 100.0
    net.ext_grid['op_mw'] = 0.0
    net.ext_grid['constraints'] = None

    net.load['initial_cost'] = 0.0
    net.load['operation_cost'] = 0.0
    net.load['ap_mw'] = 100.0
    net.load['op_mw'] = 0.0
    net.load['constraints'] = None

    net.sgen['initial_cost'] = 0.0
    net.sgen['operation_cost'] = 0.0
    net.sgen['ap_mw'] = 100.0
    net.sgen['op_mw'] = 0.0
    net.sgen['constraints'] = None

In [21]:
net_add_optfw(net)

In [22]:
net.ext_grid

,name,bus,vm_pu,va_degree,in_service,initial_cost,operation_cost,ap_mw,op_mw,constraints
0,None,0,1.0,0.0,True,0.0,0.0,100.0,0.0,None

Variables que define el modelo:

t para el tiempo, (en horas)

In [15]:
net.ext_grid

   name  bus  vm_pu  va_degree  in_service
0  None    0    1.0        0.0        True

In [ ]:
net.ext_grid.__class__

In [ ]:
net.load.__class__

In [ ]:
net.load.columns

In [ ]:
net.line

In [15]:
net.load

,name,bus,p_mw,q_mvar,const_z_percent,const_i_percent,sn_mva,scaling,in_service,type
0,None,2,0.35,0.0,0.0,0.0,NaN,1.0,True,wye

In [19]:
net.load['bus'][0]

2

In [35]:
net.bus.loc[2]['vn_kv']+5

18.2

In [ ]:
net.load['ap_mw']=net.load['p_mw']

In [ ]:
net.load

In [ ]:
net.load['name'][0]='Carga'

In [ ]:
net.load

In [ ]:
net.ext_grid

In [ ]:
net.switch